@{
    ViewData["Title"] = "Sobre";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Desenvolvido por: @ViewData["Developer"]</p>
<adress>
    <strong> Mais informações: </strong> <a href="https://github.com/douglashassislima">Github / </a>
    <a href="https://www.linkedin.com/in/douglas-henrique-de-assis-lima-12b162201/">Linkedin.</a>
</adress>