@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    SISTEMA WEB MVC<br />

    Recife - PE <br />

    <abbr title="Phone">Celular:</abbr>
    (81) 99546-5436
</address>

<address>
    <strong>Support/Marketing:</strong> <a href="mailto:douglashenriquedeassis@gmail.com">douglashenriquedeassis@gmail.com</a><br />
    
</address>
